<<<<<<< HEAD
/*Nu bij 1 uur 20 minuut  https://www.youtube.com/watch?v=muZ0JYBCnrU*/

@import url('https://fonts.googleapis.com/css?family=Saira');

*  {
	margin: 0;
	padding: 0
	border: 0;
}

body {
	background: #F5F5F5;
	color: #67727A;
	font-family: 'Alegreya', sans-serif;
	margin: 0;
}

h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	color: #F5F5F5;
}


h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5%  0;
		font-weight: 400;
	color: #000000;
}

h3 a:link {color: #000000;
	text-decoration: none;
border-bottom: 1px green;
	}

	h3 a:hover {color: #FF9999;
	text-decoration: none;
border-bottom: 1px green;
	}

	h3 a:visited {color: #FF9999;
	text-decoration: none;
border-bottom: 1px green;
	}


p {
	font-family: 'Alegreya', sans-serif;
	color: #F5F5F5;
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}

p a:link {color: #FF9999;
	text-decoration: none}

p a:active {color: #FF9999;
	text-decoration: none}


p a:hover {color: #FFFFFF;
	text-decoration: none}


p a:visited {color: #FF9999;
	text-decoration: none}



img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}

header {
	background-color: #000000;
	width: 100%;
	height: 86px;
}

#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}

#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(img/logo.png) no-repeat center;
}

/*----- Start Navigation----*/


nav {
	float: right;
	padding: 25px 20px 0 0;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px
	background: url(img/nav.png) center;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}

ul {
	list-style-type: none;
}

nav ul li {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}

nav ul li a {
	color: #F5F5F5;
	text-decoration: none;
}
nav ul li a:hover {
	color: #C3D7DF;
}
.current {color: #CA9DB5;}

/*----End of Navigation---*/

.banner {
	width: 100%;
	background-color: #DF8B6F;
}

.banner-inner {
	max-width: 1100px;
	margin: 0 auto;

}

.one-fourth {
	width: 25%;
	float: left;
	text-align: center;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #DE4172;
}
#tab1 {
	background-color: #FFFFFF;
}

#tab2 {
	background-color: #DF8B6F;
}


#tab3 {
	background-color: #FFFFFF;
}


#tab4 {
	background-color: #DE4172;
}


.one-fifth {
	width: 20%;
	float: left;
	text-align: center;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #DE4172;
}
#middel1 {
	background-color: #FFFFFF;
}

#middel2 {
	background-color: #DE4172;
}


#middel3 {
	background-color: #FFFFFF;
}


#middel4 {
	background-color: #DE4172;
}
#middel5 {
	background-color: #FFFFFF;
}



.one-second {
	width: 50%;
	float: left;
	text-align: center;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #DE4172;
}
#dienst1 {
	background-color: #FFFFFF;
}

#dienst2 {
	background-color: #F9DDD4;
}


/*Icones*/

.middelen1 {
	float: left;
	width: 100%;
	background-color: #000000;
}


.middelen2 {
	float: left;
	width: 100%;
	background-color: #DE4172;
}

.middelen3 {
	float: left;
	width: 100%;
	background-color: #000000;
}


.middelen4 {
	float: left;
	width: 100%;
	background-color: #DE4172;
}


.middelen5 {
	float: left;
	width: 100%;
	background-color: #000000;
}


.middelen6 {
	float: left;
	width: 100%;
	background-color: #DE4172;
}

.one-fourth i {
	color: #000000;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

.one-fifth i {
	color: #000000;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

.one-second i {
	color: #000000;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #FFFFFF
}

article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#tablet {
	background-color: #FFFFFF;
}

aside {
	float: right;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#tablet2 {
	background-color: #000000;
	}

#mobile {
	background-color: #DF8B6F;
}

#mobile2 {
	background-color: #DE4172;
}


#desktop  {
	background-color: #000000;
}

.inner-wrapper-2 {
	float:left;
	width: 100%;
	background-color: #DE4172;
}

.inner-wrapper-3 {
	float:left;
	width:100%;
	background-color: #AADCD2;
}
.one-third {
	float:left;
	width: 33.33333333%;
	text-align: center;
}
#tabje1 {
	background-color: #92756C;
}
#tabje2 {
	background-color: #BEB9AD;
}
#tabje3 {
	background-color: #9A535B;
}
#smiley
{
	background-color: #D2E1E1;
	padding: 0 0 1%;
	clear: both;
}

/*----Start Footer---*/
footer {
	background-color: #67727A;
	width: 100%;
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #C3D7DF;
}
.social i:hover {
	color: #F5F5F5;
}
footer.second {
	border-top: 2px solid #AADCD2;
	background-color: #544B59;
	max-height: 55px
	margin: 0;
}
footer.second p {
	padding: 5px 0 9px 0;
	text-align: center;
}
/*----Responsiveness starting (medium queries)---*/
@media screen and (max-width: 768px) {
	h2 {
		font-size: 150%;
		}
	h3 {
		font-size: 125%
		}
	p {
		font-size: 120%;
		}
	header {
		position: absolute;
		}
	#logo {
		margin: 15px 0 20px -25px;
		background: url(img/smallerlogo.png) no-repeat center;
		}
	#menu-icon
		{
			display: inline-block;
					}
	nav ul, nav:active ul {
		display: none;
		z-index: 1000;
		position: absolute;
		padding: 20px;
		background: #6991AC;
		right: 20px;
		top: 60px;
		border: 2px solid #FFF;
		border-radius: 2px 0 2px 2px;
		width: 50%;
		}
	nav:hover ul {
		display: block;
		}
		nav li {
			text-align: center;
			width: 100%;
			padding: 10px 0;
					}
		.banner {
			padding-top: 86px;
		}
		.one-fourth {
			float: left;
			width: 100%;
			}
		.one-fourth i {
			font-size: 350%;
			padding: 4% 0 1% 0;
					}
		article {
			width: 100%;
			float: left;
				}
		aside {
			width: 100%;
					}
		.hand-mobile {
			display: none;
				}
		.one-third {
			width: 100%;
		}
		.social i {
			font-size: 180%;
					}
		
	}	
=======
/*Nu bij 1 uur 20 minuut  https://www.youtube.com/watch?v=muZ0JYBCnrU*/

@import url('https://fonts.googleapis.com/css?family=Saira');

*  {
	margin: 0;
	padding: 0
	border: 0;
}

body {
	background: #F5F5F5;
	color: #67727A;
	font-family: 'Alegreya', sans-serif;
	margin: 0;
}

h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	color: #F5F5F5;
}


h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5%  0;
		font-weight: 400;
	color: #000000;
}

h3 a:link {color: #000000;
	text-decoration: none;
border-bottom: 1px green;
	}

	h3 a:hover {color: #FF9999;
	text-decoration: none;
border-bottom: 1px green;
	}

	h3 a:visited {color: #FF9999;
	text-decoration: none;
border-bottom: 1px green;
	}


p {
	font-family: 'Alegreya', sans-serif;
	color: #F5F5F5;
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}

p a:link {color: #FF9999;
	text-decoration: none}

p a:active {color: #FF9999;
	text-decoration: none}


p a:hover {color: #FFFFFF;
	text-decoration: none}


p a:visited {color: #FF9999;
	text-decoration: none}



img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}

header {
	background-color: #000000;
	width: 100%;
	height: 86px;
}

#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}

#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(img/logo.png) no-repeat center;
}

/*----- Start Navigation----*/


nav {
	float: right;
	padding: 25px 20px 0 0;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px
	background: url(img/nav.png) center;
}

a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}

ul {
	list-style-type: none;
}

nav ul li {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}

nav ul li a {
	color: #F5F5F5;
	text-decoration: none;
}
nav ul li a:hover {
	color: #C3D7DF;
}
.current {color: #CA9DB5;}

/*----End of Navigation---*/

.banner {
	width: 100%;
	background-color: #DF8B6F;
}

.banner-inner {
	max-width: 1100px;
	margin: 0 auto;

}

.one-fourth {
	width: 25%;
	float: left;
	text-align: center;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #DE4172;
}
#tab1 {
	background-color: #FFFFFF;
}

#tab2 {
	background-color: #DF8B6F;
}


#tab3 {
	background-color: #FFFFFF;
}


#tab4 {
	background-color: #DE4172;
}


.one-fifth {
	width: 20%;
	float: left;
	text-align: center;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #DE4172;
}
#middel1 {
	background-color: #FFFFFF;
}

#middel2 {
	background-color: #DE4172;
}


#middel3 {
	background-color: #FFFFFF;
}


#middel4 {
	background-color: #DE4172;
}
#middel5 {
	background-color: #FFFFFF;
}



.one-second {
	width: 50%;
	float: left;
	text-align: center;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #DE4172;
}
#dienst1 {
	background-color: #FFFFFF;
}

#dienst2 {
	background-color: #F9DDD4;
}


/*Icones*/

.middelen1 {
	float: left;
	width: 100%;
	background-color: #000000;
}


.middelen2 {
	float: left;
	width: 100%;
	background-color: #DE4172;
}

.middelen3 {
	float: left;
	width: 100%;
	background-color: #000000;
}


.middelen4 {
	float: left;
	width: 100%;
	background-color: #DE4172;
}


.middelen5 {
	float: left;
	width: 100%;
	background-color: #000000;
}


.middelen6 {
	float: left;
	width: 100%;
	background-color: #DE4172;
}

.one-fourth i {
	color: #000000;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

.one-fifth i {
	color: #000000;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

.one-second i {
	color: #000000;
	font-size: 500%;
	padding: 13% 0 4% 0;
}

.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #FFFFFF
}

article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#tablet {
	background-color: #FFFFFF;
}

aside {
	float: right;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

#tablet2 {
	background-color: #000000;
	}

#mobile {
	background-color: #DF8B6F;
}

#mobile2 {
	background-color: #DE4172;
}


#desktop  {
	background-color: #000000;
}

.inner-wrapper-2 {
	float:left;
	width: 100%;
	background-color: #DE4172;
}

.inner-wrapper-3 {
	float:left;
	width:100%;
	background-color: #AADCD2;
}
.one-third {
	float:left;
	width: 33.33333333%;
	text-align: center;
}
#tabje1 {
	background-color: #92756C;
}
#tabje2 {
	background-color: #BEB9AD;
}
#tabje3 {
	background-color: #9A535B;
}
#smiley
{
	background-color: #D2E1E1;
	padding: 0 0 1%;
	clear: both;
}

/*----Start Footer---*/
footer {
	background-color: #67727A;
	width: 100%;
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #C3D7DF;
}
.social i:hover {
	color: #F5F5F5;
}
footer.second {
	border-top: 2px solid #AADCD2;
	background-color: #544B59;
	max-height: 55px
	margin: 0;
}
footer.second p {
	padding: 5px 0 9px 0;
	text-align: center;
}
/*----Responsiveness starting (medium queries)---*/
@media screen and (max-width: 768px) {
	h2 {
		font-size: 150%;
		}
	h3 {
		font-size: 125%
		}
	p {
		font-size: 120%;
		}
	header {
		position: absolute;
		}
	#logo {
		margin: 15px 0 20px -25px;
		background: url(img/smallerlogo.png) no-repeat center;
		}
	#menu-icon
		{
			display: inline-block;
					}
	nav ul, nav:active ul {
		display: none;
		z-index: 1000;
		position: absolute;
		padding: 20px;
		background: #6991AC;
		right: 20px;
		top: 60px;
		border: 2px solid #FFF;
		border-radius: 2px 0 2px 2px;
		width: 50%;
		}
	nav:hover ul {
		display: block;
		}
		nav li {
			text-align: center;
			width: 100%;
			padding: 10px 0;
					}
		.banner {
			padding-top: 86px;
		}
		.one-fourth {
			float: left;
			width: 100%;
			}
		.one-fourth i {
			font-size: 350%;
			padding: 4% 0 1% 0;
					}
		article {
			width: 100%;
			float: left;
				}
		aside {
			width: 100%;
					}
		.hand-mobile {
			display: none;
				}
		.one-third {
			width: 100%;
		}
		.social i {
			font-size: 180%;
					}
		
	}	
>>>>>>> f794fa1b870377def25efb8fb5758dad19a8bfb5
